<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue2.6.12min.js"></script>
    <script src="../axios.min.js"></script>
</head>
<style>
    tr {
        text-align: center;
    }

    td {
        width: 150px;
        height: 30px;
    }

    div {
        width: 600px;
        margin: auto;
        text-align: center;
    }

    .color {
        background-color: #dfa0a8;
    }
</style>

<body>
    <div id="app">
        <!-- <button v-on:click="get_list">请求数据</button> -->
        <h2>图书管理</h2>
        <table border="1" cellspacing="0">
            <tr class="color">
                <td colspan="4">
                    编号：<input type="text" v-model="id" id="id">
                    名称：<input type="text" v-model="name" id="name">
                    <button v-on:click="sub">提交</button>
                </td>
            </tr>
            <tr class="color">
                <td>编号</td>
                <td>名称</td>
                <td>时间</td>
                <td>操作</td>
            </tr>
            <tr v-for="item in list">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.time}}</td>
                <td>
                    <a href="javascript:;">修改</a>
                    <span>|</span>
                    <a href="javascript:;" v-on:click="del">删除</a>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>
<script>
    new Vue({
        el: "#app",
        created(){
            let self = this
                axios.get("http://vue.api.comcto.com/api/books.php").then(function(res){
                    self.list = res.data
                })
        },
        data: {
            id : "",
            list: []
        },
        methods: {
            // get_list(){
            //     let self = this
            //     axios.get("http://vue.api.comcto.com/api/books.php").then(function(res){
            //         self.list = res.data
            //     })
            // },
            sub() {
                // 添加图书
                this.list.push({
                    id: this.id,
                    name: this.name,
                    time: '2021-04-13',
                });
                // 添加之后清空input框
                this.id = '';
                this.name = '';
                this.flag = false

            },
            del(){
                // 根据id从数组中查找元素的索引
                var index = this.list.findIndex(function(item){
                    return item.id==id
                })
                // 根据索引删除数组元素
                this.list.splice(index,1)
            }
        }
    })
</script>